@page "/addProposition"
@using BlazorAppMysql.Server
@inject HttpClient Http

<h3>Faire une proposition</h3>


<EditForm     Model="proposition" OnValidSubmit="@Add">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="Proposition" @bind-Value="proposition.Title" placeholder="Votre proposition" class="invoerveld" /><br><br>
    <InputTextArea id="Commentaire" @bind-Value="proposition.Content" placeholder="Commentaire" class="invoerveld" /><br><br>
    <button type="submit" class="">Submit</button>
</EditForm>


@code {
    public Proposition proposition = new Proposition();
    private async Task Add()
    {

        var res = await Http.PostAsJsonAsync("Proposition/Add", proposition);
        Console.WriteLine(res);
    }


}
