@page "/addDossier"
@using BlazorAppMysql.Server
@inject HttpClient Http

<h3>Créer un dossier</h3>


<EditForm Model="d" OnValidSubmit="@Add">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="Dossier" @bind-Value="d.Title" placeholder="Votre dossier" class="invoerveld" /><br><br>

    <button type="submit" class="">Submit</button>
</EditForm>


@code {
    public BlazorAppMysql.Server.Dossier d = new BlazorAppMysql.Server.Dossier();
    private async Task Add()
    {

        var res = await Http.PostAsJsonAsync("Dossier/Add", d);
       
    }


}
