@page "/"
@using BlazorAppMysql.Server
@using Syncfusion.Blazor.Calendars
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

 


<h2>Dossiers</h2>

Tout les dossiers en cours.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
<SfDateTimePicker TValue="DateTime?" Placeholder='Select a date and time'></SfDateTimePicker>

<div class="list-group">
    @foreach (var d in dossiers)
    {
        <a href="/dossierModifier/@d.Id" class="list-group-item">@d.Title, @d.CreationDate.ToString("dd/MM/yyyy"), par Ole Dufour</a>
    }
</div>


@code {






    private List<Dossier> dossiers = new List<Dossier>();

    protected override async Task OnInitializedAsync()
    {

    

        Console.WriteLine("baseUrl" +   Http.BaseAddress);
        try
        {
            dossiers = await Http.GetFromJsonAsync<List<Dossier>>("Dossier/GetDossiers");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}