 @page "/voteCast/{Id}"
@using BlazorAppMysql.Server
@inject HttpClient Http

<h4>Dossier</h4>


<EditForm Model="vote" OnValidSubmit="@Add">
    <div class="container">        
            <label class="radio-inline">
                <input type="radio" name="optradio" checked>Je suis pour cette proposition
            </label>
            <label class="radio-inline">
                <InputCheckbox type="radio" name="optradio">Je suis contre cette proposition</InputCheckbox>
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Je vote blanco
            </label>
       
    </div>
    <button type="submit" class="">Submit</button>
</EditForm>


@code {
    [Parameter]
    public string   Id { get; set; }
    public Vote vote = new Vote();

    private async Task Add()
    {

        var res = await Http.PostAsJsonAsync("Vote/Cast",vote);
        Console.WriteLine(res);
    }

    protected override void OnInitialized ()
    {
        vote.Id =Convert.ToInt32( Id);

    }


}
