@page "/voteCast/{Id}"
@using BlazorAppMysql.Server
@inject HttpClient Http

<h4>Dossier</h4>


<EditForm Model="vote" OnValidSubmit="@Add">
    <div class="container">
        <label class="radio-inline">
            <InputCheckbox @onchange="CheckChanged"  @bind-Value="pour" name="optradio" />Je suis pour cette proposition
        </label>
        <label class="radio-inline">
            <InputCheckbox @bind-Value="contre" />Je suis contre cette proposition
        </label>   
    </div>
    <button type="submit" class="">Submit</button>
</EditForm>


@code {
    [Parameter]
    public string Id { get; set; }
    public Vote vote = new Vote();

    bool contre = false;
    bool pour = true;

    void   CheckChanged(EventArgs e)
    {
        Console.WriteLine(   e    );
    }

    private async Task Add()
    {
        UserVote userVote = new UserVote();
        

        // var res = await Http.PostAsJsonAsync("Vote/Cast", vote);
        Console.WriteLine("contre", contre.ToString());
        Console.WriteLine("pour", pour.ToString());
        Console.WriteLine("pour2", "pour.ToString()");
        Console.WriteLine( pour.ToString() );
    }

    protected override void OnInitialized()
    {
        vote.Id = Convert.ToInt32(Id);

    }


}
