@*@page "/addVote"
@using BlazorAppMysql.Server
@inject HttpClient Http

<h3>Faire une Vote</h3>


<EditForm     Model="vote" OnValidSubmit="@Add">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText id="Vote" @bind-Value="vote.Title" placeholder="Votre Vote" class="invoerveld" /><br><br>
    <InputTextArea id="Commentaire" @bind-Value="vote.Content" placeholder="Commentaire" class="invoerveld" /><br><br>
    <button type="submit" class="">Submit</button>
</EditForm>


@code {
    public Vote vote = new Vote();
    private async Task Add()
    {

        var res = await Http.PostAsJsonAsync("Vote/Add",vote);
        Console.WriteLine(res);
    }


}*@
